.text-overlay{
    width: 60%;
}

.card-img-overlay h2.text-overlay{
    
}

@media screen and (min-width: 1201px) {

    /*------------------------------------
                    HEADER
    -------------------------------------*/
    .text-overlay{
        width: 60%;
    }
    
    
}



@media screen and (max-width: 1200px) {

/*------------------------------------
                HEADER
-------------------------------------*/

    .text-overlay{
        width: 90%;
    }

    .card-text{
        font-size: 1rem;
    }
}


@media screen and (max-width: 992px) {

/*------------------------------------
                HEADER
-------------------------------------*/
    .text-overlay{
        width: 90%;
    }
    .card-title{
        font-size: 1.5rem !important;
    }
    .card-text{
        font-size: 0.9rem;
    }


}


@media screen and (max-width: 768px) {

/*------------------------------------
                HEADER
-------------------------------------*/
    .text-overlay{
        width: 90%;
    }
    .card-title{
        font-size: 1.5rem !important;
    }
    .card-text{
        font-size: 1rem;
    }

}


@media screen and (max-width: 576px) {

/*------------------------------------
                HEADER
-------------------------------------*/

    .text-overlay{
        width: 100%;
    }
    .card-title{
        font-size: 1rem !important;
    }
    .card-text{
        font-size: 0.8rem;
    }

}