@media screen and (min-width: 1201px) {

/*------------------------------------
                HEADER
-------------------------------------*/

    .logo-style{
        height: auto;
        max-width: 700px;
    }

    .bg-header{
        height: 8vh;
        background-color: #001B50 !important;
    }

/*------------------------------------
                MENU BAR
-------------------------------------*/

    .toggle-sidebar{
        display: none !important;
    }

/*------------------------------------
                BUTTON PANIC
-------------------------------------*/
    .vline{
        border-left: 4px solid #fff;
        height: 100%;
    }

    .inner-width {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    border-radius: 3vh;
    }


}



@media screen and (max-width: 1200px) {

/*------------------------------------
                HEADER
-------------------------------------*/

    .logo-style{
        height: auto;
        max-width: 600px;
    }

    .bg-header{
        height: 8vh;
        background-color: #001B50 !important;
    }

/*------------------------------------
                MENU BAR
-------------------------------------*/

    .toggle-sidebar{
        display: block;
    }

    .navbar-menu{
        display: none;
    }

/*------------------------------------
                BUTTON PANIC
-------------------------------------*/

    .vline{
        border-left: 4px solid #fff;
        height: 100%;
    }

    .inner-width {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    border-radius: 3vh;
    }

}


@media screen and (max-width: 992px) {

/*------------------------------------
                HEADER
-------------------------------------*/

    .logo-style{
        height: auto;
        max-width: 460px;
    }

    .tb-font-size{
        font-size: 0.85rem !important;
    }
}


@media screen and (max-width: 768px) {

/*------------------------------------
                HEADER
-------------------------------------*/

    .logo-style{
        height: auto;
        max-width: 360px;
    }

    .hline-white{
        border-bottom: 4px solid #fff;
        height: 20px !important;
        width: 100%;
    }
    .vline{
        border-left: 4px solid #fff;
        height: 100%;
        display: none;
    }
    .header-img{
        height: 700px !important;
    }

    .tb-font-size{
        font-size: 1.25rem !important;
    }

/*------------------------------------
                PANIC BUTTON
-------------------------------------*/

    .inner-width {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
    .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border-radius: 3vh;
    }
}


@media screen and (max-width: 576px) {

/*------------------------------------
                HEADER
-------------------------------------*/

    .logo-style{
        height: auto;
        max-width: 100%;
    }
    .header-img{
        height: 900px !important;
    }
    .bg-header{
        height: 10vh;
        background-color: #001B50 !important;
    }

/*------------------------------------
                PANIC BUTTON
-------------------------------------*/

.inner-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
.inner {
margin-left: auto;
margin-right: auto;
max-width: 300px;
border-radius: 3vh;
}
}

/* .custom-container{
    min-width: 1500px !important;
} */
/* modal Tombol Darurat */
.buat{
    background-image: url('/assets/img/lapor/buat.jpg');
    background-size: cover;
    height: 300px;
    width:300px;
    background-position: center;
    border-radius: 3%;
}
.form-buat{
    background-image: url('/assets/img/lapor/header-buat.jpg');
    background-size: cover;
    width: 100%;
    height: 20vh;
    background-position: center;
    border-radius: 3%;
    padding:0 !important;
}
.darurat{
    background-image: url('/assets/img/lapor/darurat.jpg');
    background-size: cover;
    height: 300px;
    width:300px;
    background-position: center;
    border-radius: 3%;
}
.form-darurat{
    background-image: url('/assets/img/lapor/header-darurat.jpg');
    background-size: cover;
    width: 100%;
    height: 20vh;
    background-position: center;
    border-radius: 3%;
    padding:0 !important;
}
.cek{
    background-image: url('/assets/img/lapor/cek.jpg');
    background-size: cover;
    height: 300px;
    width:300px;
    background-position: center;
    border-radius: 3%;
}
.form-cek{
    background-image: url('/assets/img/lapor/header-cek.jpg');
    background-size: cover;
    width: 100%;
    height: 20vh;
    background-position: center;
    border-radius: 3%;
    padding:0 !important;
}

.overflow-man-auto{
    overflow: auto !important;
}

/* ------------------
         END MODAL
---------------------*/
.btn-red{
    color: #fff;
    background-color: #CC0000;
}
.btn-blue{
    color: #fff;
    background-color: #001B50;
}
.btn-orange{
    color: #fff;
    background-color: #fbb172;
}

.btn-modal{
    padding-top: 60%;
}

h4.modal-title{
    margin: 0 auto;
    color: #fff;
}
/* End modal Tombol Darurat */

.font-bold{
    font-weight: bold !important;
}
.font-white{
    color: white;
}
.font-blackBold{
    color: black;
    font-weight: bold;
}
.font-blue{
    color: #001B50 !important;
}
.font-red{
    color: #CC0000;
}
.font-binkamtag{
    color: #fbb172;
}
.bor-bottom{
    border-bottom: 1px solid;
}
.btn-sizeLarge{
    padding: 2.3vh 2.4rem !important;
    background-color: #CC0000 !important;
}
.btn-sizeLarge:hover{
    /* padding: 2.4vh 2.4rem !important; */
    background-color: #d62929 !important;
}
.dropdown-border{
    border-top: 5px solid #CC0000 !important;
}
.no-shadow{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.no-border{
    border: 0 !important;
}
.header-img{
    background-image: url('../img/Header-img.jpg');
    background-size: cover;
    height: 600px;
    width:100%;
    background-position: center;
}
.header-color{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.outer {
    display: table;
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
display: table-cell;
vertical-align: middle;
}

.red-underline{
    display: inline-block ;
    border-bottom: 5px solid #CC0000 ;
}
.bg-transparant{
    background-color: rgba(0, 0, 0, 0);
}
.bg-gray{
    background-color: #f1f1f1;
}
.bg-botblue{
    background-color: #001b50 !important;
}
.hline{
    border-top: 6px solid green;
    width: 100%;
}
.vline-blue{
    border-left: 4px solid #001B50;
    height: 100%;
}
/* End Top header */

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* BERITA TERKINI */
.title-header{
    font-weight: bold;
}
.btn-blue{
    background-color:#001B50 !important;
}
.item-right{
    display: flex;
    justify-content: flex-end;
}
.underline{
    border-bottom: 5px solid black;
}
/* END BERITA TERKINI */

/* BERITA PILIHAN */
.berita-pilihan{
    background-color: rgba(0, 0, 0, 0.3);
}
/* END BERITA PILIHAN */

/* Carousel */
@media (min-width: 768px) {
/* show 3 items */
.carousel-inner .active, .carousel-inner .active + .carousel-item, .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item, .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
}
.carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
}
.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
    /* left or forward direction */
}
.active.carousel-item-left + .carousel-item-next.carousel-item-left, .carousel-item-next.carousel-item-left + .carousel-item, .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    /* farthest right hidden item must be abso position for animations */
}
.carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
    /* right or prev direction */
}
.active.carousel-item-right + .carousel-item-prev.carousel-item-right, .carousel-item-prev.carousel-item-right + .carousel-item, .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}
}
/* End Carousel */

.vertical-devider{
    border-right: 1px solid #f0f0f0;
}

/* Pagination */
.page-link{
    color: #cc0000 !important;
}

.page-item.active .page-link{
    background-color: #cc0000 !important;
    border-color: #cc0000 !important;
    color: white !important;
}
/* End Pagination */

.popular-arrow{
    font-size: 7vh;
    color: #CC0000;
}

/* footer */
.page-footer {
    bottom: 0;
    color: #fff
}

.page-footer .container-fluid {
    width: auto
}

.page-footer .footer-copyright {
    overflow: hidden;
    color: #fff;
    background-color: #001236
}

.page-footer a {
    color: #fff
}
/* End footer */

/* To Top Button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #909ab3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

#myBtn:hover {
background-color: #555;
}
/* END To Top Button */

/* Button Circle */
.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center !important;
    padding: 0 !important;
    border-radius: 50% !important;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}
/* END Button Circle */

.img-detail{
    width: auto;
    display: inline-block;  
}
.img-detail img{
    width: 100%; /* Will shrink image to 30% of its original width */
    height: auto;
}

.height-news{
    max-height: 487.14px;
    overflow-x: auto;
}

/* Comment */
.user{
    font-weight: bold;
    color: black;
}
.time{
    color: gray;
}
.user-comment{
    color: #000;
}
.comment{
    margin-top: 20px;
}
.replies .comment{
    margin-top: 20px;
}
.replies{
    margin-left: 20px;
}
/* End Comment */

/* Text Carousel */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
/* End Text Carousel */

/* Headline */
.card-tran{
    background-color: transparent !important;
    border: 0pt !important;
}
hr.line-white{
    border-top: 1px solid #ccc;
}
/* End Headline */

/* ScrollBar */
.height-news::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #001b50;
}

.height-news::-webkit-scrollbar
{
	width: 6px;
	background-color: #001b50;
}

.height-news::-webkit-scrollbar-thumb
{
	background-color: #ccc;
	/* border: 2px solid #555555; */
}
/* End ScrollBar */



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    font-weight: bold;
    font-size: medium;
}

#sidebar.active {
    left: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    /* background-color: #7386D5; */
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #47748b;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #47748b;
}

a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}



/* ---------------------------------------------------
    END SIDEBAR STYLE
----------------------------------------------------- */